<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>内置指令</title>
</head>
<body ng-app="app">
	<ul ng-controller="ctrl">
		<li>{{msg}}</li>
		<li ng-bind="msg"></li>
		<!-- ng-show的取值可以是true或false,true,节点显示,false隐藏节点 -->
		<!-- 也可以取值为1或者0 -->
		<!-- 也可以是一个判断表达式 -->
		<li ng-show="isShow==1">ng-show</li>
		<li ng-show="isShow==0">相反的情况</li>
		<li ng-if="false">ng-if</li>
		<li>{{arr}}</li>
		<li>{{arr[0]}}</li>
		<!-- ng-repeat遍历的数组中不能有重复的元素 -->
		<!-- <li ng-repeat="a in arr">{{a}}</li> -->
		<!-- 如果有重复的元素,则需要采用下面的方式遍历 -->
		<li ng-repeat="a in arr track by $index">{{$index}},{{a}}</li>
	</ul>
</body>
<script src="../libs/angular.min.js"></script>
<script>
	var app = angular.module("app",[]);
	app.controller("ctrl",["$scope",function($scope){
		$scope.msg = "绑定的信息";
		$scope.isShow = 0;
		$scope.arr = ["zhangsan","lisi","lisi","Rose"];
	}]);
</script>
</html>