/* less基础语法 */
/* 1. 定义变量
     以 @ 开头,变量名由字母,数字,_,-组成. 
     存在作用域,局部作用域 优先 全局的.
*/
div {
  background: #999;
  color: #ddd;
}
p {
  background: #ffffff;
  color: #333333;
}
.box {
  width: 200px;
}
.arc1 {
  width: 200px;
  height: 200px;
  background: #666;
  border-radius: 20%;
  -webkit-border-radius: 20%;
}
.arc2 {
  width: 400px;
  height: 400px;
  background: #afa;
  border-radius: 30%;
  -webkit-border-radius: 30%;
}
.box1 h1 {
  font-size: 20px;
  font-weight: 700px;
}
.box1 span {
  display: inline-block;
}
.box1 span a {
  text-decoration: none;
  color: red;
}
.box1 span a:hover {
  color: blue;
}
.box2 {
  width: 200px;
  background: #333;
  color: rgba(51, 51, 51, 0.5);
}
@media screen and (max-width: 400px) {
  .box3 {
    background: red;
  }
}
@media screen and (min-width: 900px) {
  .box3 {
    background: blue;
  }
}
@media screen and (max-width: 899px) and (min-width: 401px) {
  .box3 {
    background: green;
  }
}
