* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft yahei';
}

.title {
  width: 910px;
  margin: 0 auto;
  font-size: 70px;
  color: #ffe9af;
  margin-top: 55px;
}

img {
  display: block;
}

i {
  font-style: normal;
}

.vetically {
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
}

.prize_con {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url(../images/firstp_bg.jpg) no-repeat left top / 100% 100%; */
  overflow: hidden;
}

.prize_grade {
  font-size: 60px;
  color: #ffe9af;
  text-align: center;
  margin: 60px auto 0;
}
.prize_grade img{
  display: inline-block;
}

.prize_list {
  width: 55%;
  /*height: 200px;*/
  margin: 20px auto 0px;
  text-align: center;
  overflow: hidden;
}

.prize_list ul {
  width: 100%;
  font-size: 0;

}

.prize_list li {
  /*border:1px solid red;*/
  display: inline-block;
  font-size: 100px;
  color: #da3144;
  text-align: center;
  width: 20%;
  line-height: 169px;
  font-family: Arial;
  width: 200px;
  height: 168px;
  background: url(../images/num_bg.png) no-repeat center;

}

.start {
  width: 130px;
  /*height: 90px;*/
  margin: 0 auto;
  cursor: pointer;
  /*border:1px solid red;*/
  
}
.mask{
  /*border:4px solid yellow;*/
  position: fixed;
  left: 0;top: 0;
  height: 100%;
  width: 300px;

}

.prize_set {
  /*position: absolute;
  left: 60px;
  top: 200px;*/
  width: 200px;
  /*border:10px solid blue;*/
  margin: 0 auto;
  margin-top: 130px;
  font-size: 18px;
  color: #f7f3e8;
  line-height: 30px;
  font-weight: 900;
}

.prize_set li {
  /*margin-left: 20px;*/
  list-style: none;

}

.prize_num {
  margin-top: 120px;
  color:#333;
}

.prize_num p{
  text-indent: 8px;
  font-size: 25px;
  color:#fff;
  background:#c9040b;
  padding: 6px 0;
  border-radius: 6px;
  text-align:center;
}
.people {
  margin-top:20px;
  float:left;
  width:190px;
}

.people li {
  padding: 10px;
  background:#FADAB6;
  margin:0 auto;
  margin-top: 5px;
  margin-left: 8px;
  width:65px;
  float:left;
  text-align: center;
  font-size:20px;
  color:#333;
  height:25px;
  border-radius: 4px;
}

.set_grade select{
  margin-left: 8px;
  width: 180px;
  height: 40px;
  font-size: 16px;
  outline: none;
}

.set_people input,
.set_money input {
  background: #fff;
  width: 120px;
  height: 40px;
  border: 1px solid #8f0000;
  /*margin-left: 20px;*/
  color: #000;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
}


