<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src='./template-native.js'></script>
</head>
    
<body>
  <!-- 定义模板  ul>li   -->
  <script id='temp01' type='text/html'>
    <ul>
        <li> <%= name %> </li>
        <li> <%= skill %> </li>
        <li>朋友 
            <ul>
               <%for(var i=0;i<friends.length;i++){%>
                    <li> <%= friends[i] %> </li>
                <%}%>
            </ul>
        </li>
        <li>儿子
          <ul>
             <%for(var i=0;i<son.length;i++){%>
                     <li> <%=  son[i].name %> </li>
                     <li> <%=  son[i].wife %> </li>
                     <li> <%=  son[i].age %> </li>
              <%}%>
          </ul>
        </li>
    </ul>
  </script>
  <!-- 逻辑 -->
  <script>
    // 定义数据 
    var obj = {
      name: '孙悟空',
      skill: '龟派气功',
      friends: ['小林', '贝吉塔', '龟仙人', '布尔玛'],
      son: [{
        name: '悟饭',
        wife: '比丽迪',
        age: 22
      }, {
        name: '孙悟天',
        wife: 'null',
        age: 12
      }]
    };
    // 调用 template()  
    var  data = template('temp01',obj);
    // 添加到页面 
    document.body.innerHTML = data;
  </script>
</body>

</html>